@font-face {
  font-family: RotisSemiSansStd;
  font-weight: normal;
  src: url('./fonts/RotisSemiSansStd/RotisSemiSansStd-Regular.otf') format("opentype");
}

@font-face {
  font-family: RotisSemiSansStd;
  font-weight: 400;
  src: url('./fonts/RotisSemiSansStd/RotisSemiSansStd-Regular.otf') format("opentype");
}

@font-face {
  font-family: RotisSemiSansStd;
  font-weight: bold;
  src: url('./fonts/RotisSemiSansStd/RotisSemiSansStd-Bold.otf') format("opentype");
}

@font-face {
  font-family: RotisSemiSans;
  font-weight: bold;
  src: url('./fonts/RotisSemiSans/Rotis_SemiSans_Bold.ttf') format("truetype");
}

@font-face {
  font-family: HelveticaNeue;
  font-weight: normal;
  src: url('./fonts/HelveticaNeue/HelveticaNeue.ttf') format("truetype");
}

@font-face {
  font-family: HelveticaNeue;
  font-weight: bold;
  src: url('./fonts/HelveticaNeue/HelveticaNeue.ttf') format("truetype");
}

@font-face {
  font-family: Poppins;
  font-weight: normal;
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format("truetype");
}

@font-face {
  font-family: Outfit;
  font-weight: normal;
  src: url('./fonts/Outfit/Outfit-Regular.ttf') format("truetype");
}

@font-face {
  font-family: PermanentMarker;
  font-weight: normal;
  src: url('./fonts/PermanentMarker/PermanentMarker-Regular.ttf') format("truetype");
}
