.learning-wrapper{
  .img4, .img5{
    width: 60%;
    height: 100%;
  }
  .logo-wrapper{
    border-bottom: 1px solid #999999;
    .full-logo{
      padding-bottom: 10px;
    }
  }
  .docs-wrapper{
    margin: 40px 0px;
  }
  .docs-title{
    margin-top: 0px;
    font-size: 50px;
    font-weight: bold;
    svg{
      width: 115px;
      height: 43px;
    }
  }
  .docs-subtitle{
    color: #666666;
    font-weight: 400;
    vertical-align: baseline;
    font-size: 14pt;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 30px;
  }

  h2 {
    padding-top: 16pt;
    color: #941100;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left;
  }

  .c21 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
  }
  .c23 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #941100;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 3pt;
    border-top-style: solid;
    background-color: #efefef;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 468pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c15 {
    padding-top: 10pt;
    padding-bottom: 0pt;
    line-height: 1.3;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  //.c2 {
  //  margin-left: 36pt;
  //  padding-top: 10pt;
  //  padding-left: 0pt;
  //  padding-bottom: 0pt;
  //  line-height: 1.3;
  //  orphans: 2;
  //  widows: 2;
  //  text-align: left;
  //}
  .c0 {
    font-weight: 400;
    font-family: "Courier New";
  }
  //.c36 {
  //  color: #353744;
  //  text-decoration: none;
  //  vertical-align: baseline;
  //  font-size: 11pt;
  //  font-style: normal;
  //}
  //.c7 {
  //  padding: 0;
  //  margin: 0;
  //}
  //li {
  //  color: #353744;
  //  font-size: 11pt;
  //  list-style-type: none;
  //}
  hr{
    page-break-before: always;
    display: none;
  }
  //.c66 {
  //  background-color: #000000;
  //}
  //.c45 {
  //  border-right-style: solid;
  //  padding: 5pt 5pt 5pt 5pt;
  //  border-bottom-color: #000000;
  //  border-top-width: 1pt;
  //  border-right-width: 1pt;
  //  border-left-color: #000000;
  //  vertical-align: top;
  //  border-right-color: #000000;
  //  border-left-width: 1pt;
  //  border-top-style: solid;
  //  border-left-style: solid;
  //  border-bottom-width: 1pt;
  //  width: 99.8pt;
  //  border-top-color: #000000;
  //  border-bottom-style: solid;
  //}
  //.c47 {
  //  border-right-style: solid;
  //  padding: 5pt 5pt 5pt 5pt;
  //  border-bottom-color: #000000;
  //  border-top-width: 1pt;
  //  border-right-width: 1pt;
  //  border-left-color: #000000;
  //  vertical-align: top;
  //  border-right-color: #000000;
  //  border-left-width: 1pt;
  //  border-top-style: solid;
  //  border-left-style: solid;
  //  border-bottom-width: 1pt;
  //  width: 129.8pt;
  //  border-top-color: #000000;
  //  border-bottom-style: solid;
  //}
  //.c60 {
  //  border-right-style: solid;
  //  padding: 5pt 5pt 5pt 5pt;
  //  border-bottom-color: #000000;
  //  border-top-width: 1pt;
  //  border-right-width: 1pt;
  //  border-left-color: #000000;
  //  vertical-align: top;
  //  border-right-color: #000000;
  //  border-left-width: 1pt;
  //  border-top-style: solid;
  //  border-left-style: solid;
  //  border-bottom-width: 1pt;
  //  width: 127.5pt;
  //  border-top-color: #000000;
  //  border-bottom-style: solid;
  //}
  //.c26 {
  //  padding-top: 0pt;
  //  padding-bottom: 0pt;
  //  line-height: 1.0;
  //  text-align: center;
  //}
  //.c67 {
  //  color: #ffffff;
  //}
  //.c38 {
  //  color: #ffffff;
  //  font-weight: 400;
  //  text-decoration: none;
  //  vertical-align: baseline;
  //  font-family: "Proxima Nova";
  //  font-style: normal;
  //}
}
