.report-no-data {
  height: 490px;
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 200px;

  .report-no-data-header {
    font-size: 14px;
    font-weight: 700;
    margin-top: 15px;
  }

  .icon-no-data {
    font-size: 70px;
  }
}
