.simple-metric-select {

	.icon-chevron-down {
		font-size: 16px;
	}

	.ant-select-arrow {
		margin-top: -8px;
		margin-right: 2px;
	}

	.ant-select-selector {
		background: #fff !important;
		border: 1px solid #bbbbbb !important;
		padding-left: 12px;
		padding-right: 12px;
	}

	svg{
		path {
			fill: #706E6B;
		}
	}

	.ant-select-selection-placeholder {
		font-style: italic;
		font-size: 12px;
		color: #878787;
		opacity: 1;
		font-weight: 400;
	}


}

.simple-metric-select-dropdown {
	padding: 0px;
	background: #F5F6F7;
  box-shadow: none !important;
  .ant-select-tree-treenode{
    padding-bottom: 0px !important;
    &:hover {
      border-radius: 5px;
    	background-color: white;
    }
  }
	.ant-select-tree-node-content-wrapper {
		padding: 4px !important;
		padding-left: 10px !important;
		margin-right: 10px;
		border-radius: 5px;
    &:hover {
      background-color: white;
    }
	}
	.ant-select-tree-switcher-noop {
		width: 12px;
	}
  .ant-select-tree-switcher{
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
	.ant-select-tree-list {
    background: #F5F6F7;
    border-radius: 4px;
    border: 1px solid #dddddd;
	}
}
