@import "app/styles/variable";

.entity_description_wrapper{
  margin-top: 4px;
  .editable-page-title{
    font-size: 16px;
    height: 36px;
    input{
      font-size: 16px !important;
    }
  }
  .title-text{
    text-align: center;
    @media (min-width: $isima-large-device-breakpoint){
      text-align: left;
    }
  }
}
