@import "app/styles/imports";
.forgot-password-page {
  .content {
    span {
      &.page-item {
        display: flex;
        flex-flow: row;
        width: 16rem;
        align-items: center;
        position: relative;

        a {
          width: 12rem;
          margin: 0 1rem;
          position: absolute;
          left: 16rem;
        }
      }
    }

    .page-item {
      margin: .6rem 0;


      &.logo {
        margin-bottom: 4rem;
      }

      &.hr {
        height: 1px;
        color: $isima-grey-1;
        background-color: $isima-grey-1;
        border: none;
        opacity: .4;
        min-width: 16rem;
      }
    }
  }
}
