.add-flow-mysql {
  .multi-select {
    .dropdown {
      background: white;
      border-radius: 5px;
      border: 1px solid #bbb;
    }

    .dropdown-heading {
      border: 1px solid transparent !important;
    }
  }
}
