@import "app/styles/variable";
$black-dark: #2B2826;

.editable-page-title {
  color: $black-dark;
  font-size: 36px;
  display: flex;
  align-items: center;
  height: 53px;
  margin-left: -12px;
  input {
    height: 100% !important;
    font-size: 36px !important;
    text-align: center;
    @media (min-width: $isima-large-device-breakpoint){
      text-align: left;
    }
  }
  > .title-text {
    padding: 0px 12px;
    color: #8C8C8C;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow-x: hidden;
    &.invalid-title {
      border: 1px solid red;
    }
  }
  svg {
    margin-left: 20px;
  }
  .invalid-value {
    border-color: red !important;
  }
}
